body{
  background-color: yellow;
  color: black;
  text-align: center;
  font-size: 2rem;
}

input{
  font-size: 25px;
  padding: 8px;
  border: 3px solid black;
}
.buttons{
  margin-top: 1rem;
}
button{
  font-size: 25px;
  padding: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
}